<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11B26</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PrefsPane</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.PrefsPane</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PrefsPane</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>4D151a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>11A511a</string>
	<key>DTSDKName</key>
	<string>macosx10.7</string>
	<key>DTXcode</key>
	<string>0420</string>
	<key>DTXcodeBuild</key>
	<string>4D151a</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2007-2011 Apple, Inc. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>PrefsPane</string>
	<key>NSPrefPaneIconFile</key>
	<string>moof.png</string>
	<key>NSPrefPaneIconLabel</key>
	<string>PrefsPane</string>
	<key>NSPrincipalClass</key>
	<string>PrefsPane</string>
</dict>
</plist>
